---
http_interactions:
- request:
    method: get
    uri: http://graphical.weather.gov/xml/DWMLgen/wsdl/ndfdXML.wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Nids-Serverid:
      - www5.mo
      Last-Modified:
      - Thu, 13 Mar 2014 18:05:49 GMT
      Content-Type:
      - application/wsdl+xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\n\n<!--   **********************************************************************
        \  \n                                                                           \n
        \      ndfdXML.wsdl   \n\n       John L. Schattel          MDL                4
        July 2007  \n       Aniesha L. Alford\n       Red Hat Linux                                Apache
        Server  \n   \n       SOURCE CODE CONTROL INFORMATION   \n\n       Name:  \n
        \        %PM%  \n         %PID%  \n\n       Status:  \n         %PS%   \n\n
        \      History:  \n         %PL%                                                             \n\n
        \      Change Document History:                                            \n
        \        %PIRC%                                                           \n\n
        \     *************************************************************************
        \  -->\n\n<definitions xmlns:SOAP-ENV=\"http://schemas.xmlsoap.org/soap/envelope/\"
        \n             xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" \n             xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        \n             xmlns:SOAP-ENC=\"http://schemas.xmlsoap.org/soap/encoding/\"
        \n             xmlns:si=\"http://soapinterop.org/xsd\" \n             xmlns:tns=\"http://graphical.weather.gov/xml/DWMLgen/wsdl/ndfdXML.wsdl\"
        \n             xmlns:typens=\"http://graphical.weather.gov/xml/DWMLgen/schema/DWML.xsd\"
        \n             xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\" \n             xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\"
        \n             xmlns=\"http://schemas.xmlsoap.org/wsdl/\" \n             targetNamespace=\"http://graphical.weather.gov/xml/DWMLgen/wsdl/ndfdXML.wsdl\">\n<types>\n
        <xsd:schema targetNamespace=\"http://graphical.weather.gov/xml/DWMLgen/schema/DWML.xsd\">\n
        <xsd:import namespace=\"http://schemas.xmlsoap.org/soap/encoding/\" />\n <xsd:import
        namespace=\"http://schemas.xmlsoap.org/wsdl/\" />\n\n <xsd:simpleType name=\"sectorType\">\n
        \ <xsd:restriction base='xsd:string'>\n   <xsd:enumeration value='conus'/>\n
        \  <xsd:enumeration value='nhemi'/>\n   <xsd:enumeration value='alaska'/>\n
        \  <xsd:enumeration value='guam'/>\n   <xsd:enumeration value='hawaii'/>\n
        \  <xsd:enumeration value='puertori'/>\n   <xsd:enumeration value='npacocn'/>\n
        \ </xsd:restriction>\n </xsd:simpleType>\n\n <xsd:simpleType name=\"unitType\">\n
        \ <xsd:restriction base='xsd:string'>\n   <xsd:enumeration value='e'/>\n   <xsd:enumeration
        value='m'/>\n  </xsd:restriction>\n </xsd:simpleType>\n\n <xsd:simpleType
        name=\"formatType\">\n  <xsd:restriction base='xsd:string'>\n   <xsd:enumeration
        value='24 hourly'/>\n   <xsd:enumeration value='12 hourly'/>\n  </xsd:restriction>\n
        </xsd:simpleType>\n\n <xsd:simpleType name=\"productType\">\n  <xsd:restriction
        base='xsd:string'>\n   <xsd:enumeration value='time-series'/>\n   <xsd:enumeration
        value='glance'/>\n  </xsd:restriction>\n </xsd:simpleType>\n\n <xsd:simpleType
        name=\"latLonPairType\">\n  <xsd:restriction base='xsd:string'>\n   <xsd:pattern
        value=\"[\\-]?\\d{1,2}\\.\\d+,[\\-]?\\d{1,3}\\.\\d+\" />\n  </xsd:restriction>\n
        </xsd:simpleType>\n\n <xsd:simpleType name=\"listLatLonType\">\n  <xsd:restriction
        base='xsd:string'>\n   <xsd:pattern value=\"[\\-]?\\d{1,2}\\.\\d+,[\\-]?\\d{1,3}\\.\\d+(
        [\\-]?\\d{1,2}\\.\\d+,[\\-]?\\d{1,3}\\.\\d+)*\" />\n  </xsd:restriction>\n
        </xsd:simpleType>\n\n <xsd:simpleType name=\"zipCodeType\">\n  <xsd:restriction
        base='xsd:string'>\n   <xsd:pattern value=\"\\d{5}(\\-\\d{4})?\" />\n  </xsd:restriction>\n
        </xsd:simpleType>\n\n <xsd:simpleType name=\"zipCodeListType\">\n  <xsd:restriction
        base='xsd:string'>\n   <xsd:pattern value=\"\\d{5}(\\-\\d{4})?( \\d{5}(\\-\\[...]
- request:
    method: post
    uri: http://graphical.weather.gov/xml/SOAP_server/ndfdXMLserver.php
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://graphical.weather.gov/xml/DWMLgen/wsdl/ndfdXML.wsdl"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://graphical.weather.gov/xml/DWMLgen/schema/DWML.xsd"><env:Body><tns:LatLonListSubgrid><lowerLeftLatitude>39.547101</lowerLeftLatitude><lowerLeftLongitude>-105.215759</lowerLeftLongitude><upperRightLatitude>39.991484</upperRightLatitude><upperRightLongitude>-104.704895</upperRightLongitude><resolution>2</resolution></tns:LatLonListSubgrid></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://graphical.weather.gov/xml/DWMLgen/wsdl/ndfdXML.wsdl#LatLonListSubgrid"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Nids-Serverid:
      - www4.mo
      X-Soap-Server:
      - NuSOAP/0.9.5 (1.123)
      Content-Type:
      - text/xml; charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="ISO-8859-1"?><SOAP-ENV:Envelope SOAP-ENV:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
        xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"><SOAP-ENV:Body><ns1:LatLonListSubgridResponse
        xmlns:ns1="http://graphical.weather.gov/xml/DWMLgen/wsdl/ndfdXML.wsdl"><listLatLonOut
        xsi:type="xsd:string">&lt;?xml version=&apos;1.0&apos;?&gt;&lt;dwml version=&apos;1.0&apos;
        xmlns:xsd=&apos;http://www.w3.org/2001/XMLSchema&apos; xmlns:xsi=&apos;http://www.w3.org/2001/XMLSchema-instance&apos;
        xsi:noNamespaceSchemaLocation=&apos;http://graphical.weather.gov/xml/DWMLgen/schema/DWML.xsd&apos;&gt;&lt;latLonList&gt;39.560722,-105.202632
        39.604739,-105.206939 39.648748,-105.211250 39.692746,-105.215565 39.736735,-105.219883
        39.780714,-105.224204 39.824684[...]
