---
http_interactions:
- request:
    method: get
    uri: http://graphical.weather.gov/xml/DWMLgen/wsdl/ndfdXML.wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 15 Aug 2013 20:49:00 GMT
      Content-Type:
      - application/wsdl+xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\n\n<!--   **********************************************************************
        \  \n                                                                           \n
        \      ndfdXML.wsdl   \n\n       John L. Schattel          MDL                4
        July 2007  \n       Aniesha L. Alford\n       Red Hat Linux                                Apache
        Server  \n   \n       SOURCE CODE CONTROL INFORMATION   \n\n       Name:  \n
        \        %PM%  \n         %PID%  \n\n       Status:  \n         %PS%   \n\n
        \      History:  \n         %PL%                                                             \n\n
        \      Change Document History:                                            \n
        \        %PIRC%                                                           \n\n
        \     *************************************************************************
        \  -->\n\n<definitions xmlns:SOAP-ENV=\"http://schemas.xmlsoap.org/soap/envelope/\"
        \n             xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" \n             xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        \n             xmlns:SOAP-ENC=\"http://schemas.xmlsoap.org/soap/encoding/\"
        \n             xmlns:si=\"http://soapinterop.org/xsd\" \n             xmlns:tns=\"http://graphical.weather.gov/xml/DWMLgen/wsdl/ndfdXML.wsdl\"
        \n             xmlns:typens=\"http://graphical.weather.gov/xml/DWMLgen/schema/DWML.xsd\"
        \n             xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\" \n             xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\"
        \n             xmlns=\"http://schemas.xmlsoap.org/wsdl/\" \n             targetNamespace=\"http://graphical.weather.gov/xml/DWMLgen/wsdl/ndfdXML.wsdl\">\n<types>\n
        <xsd:schema targetNamespace=\"http://graphical.weather.gov/xml/DWMLgen/schema/DWML.xsd\">\n
        <xsd:import namespace=\"http://schemas.xmlsoap.org/soap/encoding/\" />\n <xsd:import
        namespace=\"http://schemas.xmlsoap.org/wsdl/\" />\n\n <xsd:simpleType name=\"sectorType\">\n
        \ <xsd:restriction base='xsd:string'>\n   <xsd:enumeration value='conus'/>\n
        \  <xsd:enumeration value='nhemi'/>\n   <xsd:enumeration value='alaska'/>\n
        \  <xsd:enumeration value='guam'/>\n   <xsd:enumeration value='hawaii'/>\n
        \  <xsd:enumeration value='puertori'/>\n   <xsd:enumeration value='npacocn'/>\n
        \ </xsd:restriction>\n </xsd:simpleType>\n\n <xsd:simpleType name=\"unitType\">\n
        \ <xsd:restriction base='xsd:string'>\n   <xsd:enumeration value='e'/>\n   <xsd:enumeration
        value='m'/>\n  </xsd:restriction>\n </xsd:simpleType>\n\n <xsd:simpleType
        name=\"formatType\">\n  <xsd:restriction base='xsd:string'>\n   <xsd:enumeration
        value='24 hourly'/>\n   <xsd:enumeration value='12 hourly'/>\n  </xsd:restriction>\n
        </xsd:simpleType>\n\n <xsd:simpleType name=\"productType\">\n  <xsd:restriction
        base='xsd:string'>\n   <xsd:enumeration value='time-series'/>\n   <xsd:enumeration
        value='glance'/>\n  </xsd:restriction>\n </xsd:simpleType>\n\n <xsd:simpleType
        name=\"latLonPairType\">\n  <xsd:restriction base='xsd:string'>\n   <xsd:pattern
        value=\"[\\-]?\\d{1,2}\\.\\d+,[\\-]?\\d{1,3}\\.\\d+\" />\n  </xsd:restriction>\n
        </xsd:simpleType>\n\n <xsd:simpleType name=\"listLatLonType\">\n  <xsd:restriction
        base='xsd:string'>\n   <xsd:pattern value=\"[\\-]?\\d{1,2}\\.\\d+,[\\-]?\\d{1,3}\\.\\d+(
        [\\-]?\\d{1,2}\\.\\d+,[\\-]?\\d{1,3}\\.\\d+)*\" />\n  </xsd:restriction>\n
        </xsd:simpleType>\n\n <xsd:simpleType name=\"zipCodeType\">\n  <xsd:restriction
        base='xsd:string'>\n   <xsd:pattern value=\"\\d{5}(\\-\\d{4})?\" />\n  </xsd:restriction>\n
        </xsd:simpleType>\n\n <xsd:simpleType name=\"zipCodeListType\">\n  <xsd:restriction
        base='xsd:string'>\n   <xsd:pattern value=\"\\d{5}(\\-\\d{4})?( \\d{5}(\\-\\[...]
- request:
    method: post
    uri: http://graphical.weather.gov/xml/SOAP_server/ndfdXMLserver.php
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://graphical.weather.gov/xml/DWMLgen/wsdl/ndfdXML.wsdl"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://graphical.weather.gov/xml/DWMLgen/schema/DWML.xsd"><env:Body><tns:NDFDgenLatLonList><listLatLon>38.99,-77.01</listLatLon><product>time-series</product><startTime>2014-03-07T00:10:23Z</startTime><endTime>2014-03-13T00:10:23Z</endTime><unit>e</unit><weatherParameters><maxt>1</maxt><mint>0</mint><temp>0</temp><dew>0</dew><appt>0</appt><pop12>0</pop12><qpf>0</qpf><snow>0</snow><sky>0</sky><rh>0</rh><wspd>0</wspd><wdir>0</wdir><wx>0</wx><icons>0</icons><waveh>0</waveh><incw34>0</incw34><incw50>0</incw50><incw64>0</incw64><cumw34>0</cumw34><cumw50>0</cumw50><cumw64>0</cumw64><wgust>0</wgust><critfireo>0</critfireo><dryfireo>0</dryfireo><conhazo>0</conhazo><ptornado>0</ptornado><phail>0</phail><ptstmwinds>0</ptstmwinds><pxtornado>0</pxtornado><pxhail>0</pxhail><pxtstmwinds>0</pxtstmwinds><ptotsvrtstm>0</ptotsvrtstm><pxtotsvrtstm>0</pxtotsvrtstm><tmpabv14d>0</tmpabv14d><tmpblw14d>0</tmpblw14d><tmpabv30d>0</tmpabv30d><tmpblw30d>0</tmpblw30d><tmpabv90d>0</tmpabv90d><tmpblw90d>0</tmpblw90d><prcpabv14d>0</prcpabv14d><prcpblw14d>0</prcpblw14d><prcpabv30d>0</prcpabv30d><prcpblw30d>0</prcpblw30d><prcpabv90d>0</prcpabv90d><prcpblw90d>0</prcpblw90d><precipaR>0</precipaR><skyR>0</skyR><tdR>0</tdR><tempR>0</tempR><wdirR>0</wdirR><wspdR>0</wspdR><wwa>0</wwa><iceaccum>0</iceaccum><maxrh>0</maxrh><minrh>0</minrh></weatherParameters></tns:NDFDgenLatLonList></env:Body></env:Envelope>
    headers:
      Soapaction:
      - ! '"http://graphical.weather.gov/xml/DWMLgen/wsdl/ndfdXML.wsdl#NDFDgenLatLonList"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Soap-Server:
      - NuSOAP/0.9.5 (1.123)
      Content-Type:
      - text/xml; charset=ISO-8859-1
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"ISO-8859-1\"?><SOAP-ENV:Envelope
        SOAP-ENV:encodingStyle=\"http://schemas.xmlsoap.org/soap/encoding/\" xmlns:SOAP-ENV=\"http://schemas.xmlsoap.org/soap/envelope/\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xmlns:SOAP-ENC=\"http://schemas.xmlsoap.org/soap/encoding/\"><SOAP-ENV:Body><ns1:NDFDgenLatLonListResponse
        xmlns:ns1=\"http://graphical.weather.gov/xml/DWMLgen/wsdl/ndfdXML.wsdl\"><dwmlOut
        xsi:type=\"xsd:string\">&lt;?xml version=&quot;1.0&quot;?&gt;\n&lt;dwml version=&quot;1.0&quot;
        xmlns:xsd=&quot;http://www.w3.org/2001/XMLSchema&quot; xmlns:xsi=&quot;http://www.w3.org/2001/XMLSchema-instance&quot;
        xsi:noNamespaceSchemaLocation=&quot;http://www.nws.noaa.gov/forecasts/xml/DWMLgen/schema/DWML.xsd&quot;&gt;\n
        \ &lt;head&gt;\n    &lt;product srsName=&quot;WGS 1984&quot; concise-name=&quot;time-series&quot;
        operational-mode=&quot;official&quot;&gt;\n      [...]
