---
http_interactions:
- request:
    method: get
    uri: http://graphical.weather.gov/xml/DWMLgen/wsdl/ndfdXML.wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 13 Mar 2014 18:05:49 GMT
      Content-Type:
      - application/wsdl+xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\n\n<!--   **********************************************************************
        \  \n                                                                           \n
        \      ndfdXML.wsdl   \n\n       John L. Schattel          MDL                4
        July 2007  \n       Aniesha L. Alford\n       Red Hat Linux                                Apache
        Server  \n   \n       SOURCE CODE CONTROL INFORMATION   \n\n       Name:  \n
        \        %PM%  \n         %PID%  \n\n       Status:  \n         %PS%   \n\n
        \      History:  \n         %PL%                                                             \n\n
        \      Change Document History:                                            \n
        \        %PIRC%                                                           \n\n
        \     *************************************************************************
        \  -->\n\n<definitions xmlns:SOAP-ENV=\"http://schemas.xmlsoap.org/soap/envelope/\"
        \n             xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" \n             xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        \n             xmlns:SOAP-ENC=\"http://schemas.xmlsoap.org/soap/encoding/\"
        \n             xmlns:si=\"http://soapinterop.org/xsd\" \n             xmlns:tns=\"http://graphical.weather.gov/xml/DWMLgen/wsdl/ndfdXML.wsdl\"
        \n             xmlns:typens=\"http://graphical.weather.gov/xml/DWMLgen/schema/DWML.xsd\"
        \n             xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\" \n             xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\"
        \n             xmlns=\"http://schemas.xmlsoap.org/wsdl/\" \n             targetNamespace=\"http://graphical.weather.gov/xml/DWMLgen/wsdl/ndfdXML.wsdl\">\n<types>\n
        <xsd:schema targetNamespace=\"http://graphical.weather.gov/xml/DWMLgen/schema/DWML.xsd\">\n
        <xsd:import namespace=\"http://schemas.xmlsoap.org/soap/encoding/\" />\n <xsd:import
        namespace=\"http://schemas.xmlsoap.org/wsdl/\" />\n\n <xsd:simpleType name=\"sectorType\">\n
        \ <xsd:restriction base='xsd:string'>\n   <xsd:enumeration value='conus'/>\n
        \  <xsd:enumeration value='nhemi'/>\n   <xsd:enumeration value='alaska'/>\n
        \  <xsd:enumeration value='guam'/>\n   <xsd:enumeration value='hawaii'/>\n
        \  <xsd:enumeration value='puertori'/>\n   <xsd:enumeration value='npacocn'/>\n
        \ </xsd:restriction>\n </xsd:simpleType>\n\n <xsd:simpleType name=\"unitType\">\n
        \ <xsd:restriction base='xsd:string'>\n   <xsd:enumeration value='e'/>\n   <xsd:enumeration
        value='m'/>\n  </xsd:restriction>\n </xsd:simpleType>\n\n <xsd:simpleType
        name=\"formatType\">\n  <xsd:restriction base='xsd:string'>\n   <xsd:enumeration
        value='24 hourly'/>\n   <xsd:enumeration value='12 hourly'/>\n  </xsd:restriction>\n
        </xsd:simpleType>\n\n <xsd:simpleType name=\"productType\">\n  <xsd:restriction
        base='xsd:string'>\n   <xsd:enumeration value='time-series'/>\n   <xsd:enumeration
        value='glance'/>\n  </xsd:restriction>\n </xsd:simpleType>\n\n <xsd:simpleType
        name=\"latLonPairType\">\n  <xsd:restriction base='xsd:string'>\n   <xsd:pattern
        value=\"[\\-]?\\d{1,2}\\.\\d+,[\\-]?\\d{1,3}\\.\\d+\" />\n  </xsd:restriction>\n
        </xsd:simpleType>\n\n <xsd:simpleType name=\"listLatLonType\">\n  <xsd:restriction
        base='xsd:string'>\n   <xsd:pattern value=\"[\\-]?\\d{1,2}\\.\\d+,[\\-]?\\d{1,3}\\.\\d+(
        [\\-]?\\d{1,2}\\.\\d+,[\\-]?\\d{1,3}\\.\\d+)*\" />\n  </xsd:restriction>\n
        </xsd:simpleType>\n\n <xsd:simpleType name=\"zipCodeType\">\n  <xsd:restriction
        base='xsd:string'>\n   <xsd:pattern value=\"\\d{5}(\\-\\d{4})?\" />\n  </xsd:restriction>\n
        </xsd:simpleType>\n\n <xsd:simpleType name=\"zipCodeListType\">\n  <xsd:restriction
        base='xsd:string'>\n   <xsd:pattern value=\"\\d{5}(\\-\\d{4})?( \\d{5}(\\-\\[...]
- request:
    method: post
    uri: http://graphical.weather.gov/xml/SOAP_server/ndfdXMLserver.php
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://graphical.weather.gov/xml/DWMLgen/wsdl/ndfdXML.wsdl"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://graphical.weather.gov/xml/DWMLgen/schema/DWML.xsd"><env:Body><tns:NDFDgenLatLonList><listLatLon>38.99,-77.01</listLatLon><product>time-series</product><startTime>2014-03-13T19:50:03Z</startTime><endTime>2014-03-19T19:50:03Z</endTime><unit>e</unit><weatherParameters><maxt>1</maxt><mint>1</mint><temp>1</temp><dew>1</dew><appt>1</appt><pop12>1</pop12><qpf>1</qpf><snow>1</snow><sky>1</sky><rh>1</rh><wspd>1</wspd><wdir>1</wdir><wx>1</wx><icons>1</icons><waveh>1</waveh><incw34>1</incw34><incw50>1</incw50><incw64>1</incw64><cumw34>1</cumw34><cumw50>1</cumw50><cumw64>1</cumw64><wgust>1</wgust><critfireo>1</critfireo><dryfireo>1</dryfireo><conhazo>1</conhazo><ptornado>1</ptornado><phail>1</phail><ptstmwinds>1</ptstmwinds><pxtornado>1</pxtornado><pxhail>1</pxhail><pxtstmwinds>1</pxtstmwinds><ptotsvrtstm>1</ptotsvrtstm><pxtotsvrtstm>1</pxtotsvrtstm><tmpabv14d>1</tmpabv14d><tmpblw14d>1</tmpblw14d><tmpabv30d>1</tmpabv30d><tmpblw30d>1</tmpblw30d><tmpabv90d>1</tmpabv90d><tmpblw90d>1</tmpblw90d><prcpabv14d>1</prcpabv14d><prcpblw14d>1</prcpblw14d><prcpabv30d>1</prcpabv30d><prcpblw30d>1</prcpblw30d><prcpabv90d>1</prcpabv90d><prcpblw90d>1</prcpblw90d><precipaR>1</precipaR><skyR>1</skyR><tdR>1</tdR><tempR>1</tempR><wdirR>1</wdirR><wspdR>1</wspdR><wwa>1</wwa><iceaccum>1</iceaccum><maxrh>1</maxrh><minrh>1</minrh></weatherParameters></tns:NDFDgenLatLonList></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://graphical.weather.gov/xml/DWMLgen/wsdl/ndfdXML.wsdl#NDFDgenLatLonList"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Soap-Server:
      - NuSOAP/0.9.5 (1.123)
      Content-Type:
      - text/xml; charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="ISO-8859-1"?><SOAP-ENV:Envelope SOAP-ENV:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"><SOAP-ENV:Body><ns1:NDFDgenLatLonListResponse xmlns:ns1="http://graphical.weather.gov/xml/DWMLgen/wsdl/ndfdXML.wsdl"><dwmlOut xsi:type="xsd:string">&lt;?xml version=&quot;1.0&quot;?&gt;
        &lt;dwml version=&quot;1.0&quot; xmlns:xsd=&quot;http://www.w3.org/2001/XMLSchema&quot; xmlns:xsi=&quot;http://www.w3.org/2001/XMLSchema-instance&quot; xsi:noNamespaceSchemaLocation=&quot;http://www.nws.noaa.gov/forecasts/xml/DWMLgen/schema/DWML.xsd&quot;&gt;
          &lt;head&gt;
            &lt;product srsName=&quot;WGS 1984&quot; concise-name=&quot;time-series&quot; operational-mode=&quot;official&quot;&gt;
              &lt[...]
