---
http_interactions:
- request:
    method: get
    uri: http://forecast.weather.gov/MapClick.php?FcstType=digitalDWML&lat=38.99&lon=-77.01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Nids-Serverid:
      - www13.md
      Content-Type:
      - application/xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"ISO-8859-1\"?>\n<dwml version=\"1.0\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xsi:noNamespaceSchemaLocation=\"http://graphical.weather.gov/xml/DWMLgen/schema/DWML.xsd\">\n
        \ <head>\n    <product concise-name=\"tabular-digital\" operational-mode=\"developmental\"
        srsName=\"WGS 1984\">\n      <creation-date refresh-frequency='PT1H'>2015-03-09T11:24:09-04:00</creation-date>\n
        \   </product>\n    <source>\n      <production-center>Baltimore, MD/Washington,
        D.C.</production-center>\n      <credit>http://www.erh.noaa.gov/lwx/</credit>\n
        \     <more-information>http://www.nws.noaa.gov/forecasts/xml/</more-information>\n
        \   </source>\n  </head>\n  <data>\n\n  <location>\n    <location-key>point1</location-key>\n
        \   <description>Takoma Park MD, MD</description>\n    <point latitude=\"39\"
        longitude=\"-77.01\"/>\n    <city state=\"MD\">Takoma Park MD</city>\n    <height
        datum=\"mean sea level\">194</height>\n  </location>\n<moreWeatherInformation
        applicable-location=\"point1\">http://forecast.weather.gov/MapClick.php?lat=39&amp;lon=-77.01&amp;FcstType=digital</moreWeatherInformation>
        \n<time-layout time-coordinate=\"local\" summarization=\"none\"><layout-key>k-p1h-n1-0</layout-key>\n<start-valid-time>2015-03-09T13:00:00-04:00</start-valid-time>\n<end-valid-time>2015-03-09T14:00:00-04:00</end-valid-time>\n<start-valid-time>2015-03-09T14:00:00-04:00</start-valid-time>\n<end-valid-time>2015-03-09T15:00:00-04:00</end-valid-time>\n<start-valid-time>2015-03-09T15:00:00-04:00</start-valid-time>\n<end-valid-time>2015-03-09T16:00:00-04:00</end-valid-time>\n<start-valid-time>2015-03-09T16:00:00-04:00</start-valid-time>\n<end-valid-time>2015-03-09T17:00:00-04:00</end-valid-time>\n<start-valid-time>2015-03-09T17:00:00-04:00</start-valid-time>\n<end-valid-time>2015[...]
